.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.menuContainer {
  position: absolute;
  background-color: red;
  top: 0;
  bottom: 0;
  transition: width 0.3s ease-out;
  color: #2398ab;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 15px 0 15px;
  right: 0;
  width: 240px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.menuContainerOpen {
  transform: translateX(0%);
}

.closeIcon {
  cursor: pointer;
  fill: #2398ab;
}

.menuList {
  padding: 0;
  list-style: none;
  margin: 35px 0 0 0;

  .item {
    padding: 12px 0 12px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.dropDown {
  margin: 0 15px;

  .city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: #2398ab;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
