.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlayDarkMode {
  background-color: #1A2026;
  opacity: 0.7;
}

.menuContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #2398ab;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 15px 0 15px;
  right: -1px;
  width: 240px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.menuContainerOpen {
  transform: translateX(0%);
}

.menuContainerOpenDarkMode {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.button {
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.closeIcon {
  cursor: pointer;
  fill: #2398ab;
}

.darkCloseIcon {
  fill: white;
}

.menuList {
  padding: 0;
  list-style: none;
  margin: 50px 0 0 0;

  li {
    padding: 12px 0 12px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.darkMenuList {
  li {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.dropDown {
  margin: 0 15px;

  .city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: #2398ab;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .darkCity {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    svg {
      fill: white;
    }
  }
}

.noCities {
  color: teal;
  font-weight: 600;
  line-height: 1.4;
}

.noCitiesDark {
  color: #D1D3D4;
}