.hoursContainer {
  display: flex;
  color: white;
  overflow: auto;
  padding: 0;
  margin: 0;

  .hourInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .hour {
      font-size: 1.5rem;
      margin: 3px 0;
    }

    .temperature {
      font-size: 1.6rem;
      position: relative;
      margin-right: 10px;
      margin-bottom: 3px;

      &:after {
        content: "°";
        position: absolute;
        font-size: 1.2rem;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .activeHour {
    border: 1px solid white;
  }
}
